div.content1 {margin-left: 3px;
			margin-right: 3px;
			margin-bottom: 0px;
			float: left;
			text-transform: capitalize;
}

div.content2 {margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 0px;
	float: right;
	text-transform: capitalize;
}

#cloud_words {margin: auto;
	overflow: visible;
	display: table;
}

#cloud_stat {margin: auto;
	text-align: center;
}
