div.content1 {margin: 3px 5px;
			float: left;
			text-transform: capitalize;}

div.content2 {
	margin: 3px 5px;
	float: right;
	text-transform: capitalize;
}

#cloud_words {width: 1000px;
			min-height: 100px;
			overflow: hidden;}