<!DOCTYPE html>
<html>

<head>
	<title>Word Cloud</title>
	<base target="_blank">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style2.css')}}?0022">
	<script src="{{url_for('static', filename='myScript.js')}}?0109"> </script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

</head>

<body>
	<div id="cloud_words"> </div>
    <script type="text/javascript">
    (function(){
    	{% autoescape false %} var s = {{s}} {% endautoescape%};
    	FirstFunction(s);
    	//dd3(s);
    })();
    </script>
	
	<br><br><br>
	<div id="cloud_stat"> </div>
	<script type="text/javascript">
    (function(){
    	{% autoescape false %} var s = {{s}} {% endautoescape%};

    	summary(s);
    })();
    </script>
</body>

</html>